* {}

html,
body {
  position: relative;
}

html {
  height: 100%
}

.bodylogin {
  overflow-x: hidden;
  background: #00a6c4;
  background: -moz-linear-gradient(top, #00a6c4 0%, #006dbf 100%);
  background: -webkit-linear-gradient(top, #00a6c4 0%, #006dbf 100%);
  background: linear-gradient(to bottom, #00a6c4 0%, #006dbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6c4', endColorstr='#006dbf', GradientType=0);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-position: 0px 0px;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.eot);
  src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat-medium;
  src: url(../fonts/Montserrat-Medium.eot);
  src: local('☺'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg') format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url(../fonts/Montserrat-ExtraLight.eot);
  src: local('☺'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg') format('svg');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url(../fonts/Montserrat-ExtraLightItalic.eot);
  src: local('☺'), url('../fonts/Montserrat-ExtraLightItalic.woff') format('woff'), url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLightItalic.svg') format('svg');
  font-weight: 400;
  font-style: normal
}


/* splitted div   */

.splitteddiv {
  white-space: nowrap;
  display: inline;
}

.column50 {
  display: inline-block;
  width: 50%;
  white-space: normal;
}


/* splitted div   */

.pd {
  margin-top: 4rem;
  padding: 1em;
  margin: 30px auto;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  transition: transform 0.2s ease-in-out;
}

.pdquiz {
  padding: 1em;
  margin: 30px auto;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  transition: transform 0.2s ease-in-out;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.mt-3,
.my-3 {
  margin-top: 4rem!important;
}

.p {
  color: grey
}

h2 {
  font-family: Montserrat;
  font-weight: 400;
}

.form-wrapper textarea {
  font-family: Montserrat-medium;
  font-size: 0.8em;
  font-weight: 100;
}

#progress-bar {
  width: 80%;
}

#heading {
  text-transform: uppercase;
  color: #006DBF;
  font-weight: normal
}

.create-quiz {
  text-align: center;
  position: relative;
  margin-top: 2em
}

.create-quiz fieldset {
  font-family: Montserrat;
  font-weight: 100;
  background: white;
  border: 0 none;
  border-radius: 2rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  /*padding-bottom: 20px;*/
  position: relative
}

.form-card {
  text-align: left
}

.rowtitlestep {
  display: flex;
  margin: auto;
  width: 100%;
}

.create-quiz fieldset:not(:first-of-type) {
  display: none
}

.create-quiz input,
.create-quiz .textarea {
  font-family: Montserrat-medium;
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 2rem;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 100;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 0.8em;
  letter-spacing: 1px
}

.create-quiz input[type="button"] {
  width: 45%;
  border-radius: 2rem;
}

.create-quiz input:focus,
.create-quiz textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #006DBF;
  outline-width: 0;
  font-family: Montserrat-medium;
  background: #ffffff;
}

.create-quiz .action-button {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .99rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-quiz .action-button-upload {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.action-button-login {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-quiz .action-button .left {
  float: left;
}

.create-quiz .action-button-upload .right {
  float: right;
}

.create-quiz .action-button:hover,
action-button-upload:hover,
.create-quiz .action-button:focus {
  background-color: #13578B
}

.create-quiz .action-button-previous {
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: left;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.create-quiz .action-button-previous:hover,
.create-quiz .action-button-previous:focus {
  background-color: #000000
}

.card {
  z-index: 0;
  border: none;
  position: relative;
  padding: 2em;
  border-radius: 2rem;
}

.shareallplatformcontainer {
  margin-top: 1rem;
  height: 4rem;
  width: 100%;
  display: block;
  font-size: 4vmin;
}

.action-button-share {
  background: #21759b;
  background: -moz-linear-gradient(45deg, #21759b 0%, #ffffff 30%, #ffffff 70%, #089dbf 100%);
  background: -webkit-linear-gradient(45deg, #21759b 0%, #ffffff 30%, #ffffff 70%, #089dbf 100%);
  background: linear-gradient(45deg, #21759b 0%, #ffffff 30%, #ffffff 70%, #089dbf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21759b', endColorstr='#089dbf', GradientType=1);
  font-weight: 400;
  color: #21759B;
  border: 0 none;
  cursor: pointer;
  padding: 10px 5px;
  float: right;
  border: 2px solid #21759B;
  font-family: Montserrat-medium;
  padding: .6rem;
  font-size: 1.1rem;
  line-height: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.action-button-share:hover {
  background: rgb(8, 157, 191);
  background: -moz-linear-gradient(45deg, rgba(8, 157, 191, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(33, 117, 155, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(8, 157, 191, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(33, 117, 155, 1) 100%);
  background: linear-gradient(45deg, rgba(8, 157, 191, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 70%, rgba(33, 117, 155, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#089dbf', endColorstr='#21759b', GradientType=1);
}

.fs-title {
  font-size: 25px;
  color: #006DBF;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}

.purple-text {
  color: #006DBF;
  font-weight: normal
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right
}

.fieldlabels {
  color: gray;
  text-align: left
}

.fieldlabelsquestion {
  color: #006DBF;
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.form-card input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: Montserrat-medium;
  font-size: 0.8em;
  font-weight: 100;
}

.quizzy-subtitle {
  font-family: Montserrat-medium;
  font-size: 1.2em;
  font-weight: 100;
}

.form-card input::placeholder {
  font-family: Montserrat-medium;
  font-weight: 100;
  font-size: 0.8em;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
  display: flex;
  width: 100%;
  padding-right: 2.2rem;
}

#progressbar .active {
  color: #006DBF
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400
}

#progressbar #creerlequiz:before {
  font-family: FontAwesome;
  content: "\f0e7"
}

#progressbar #ajouterlesquestions:before {
  font-family: FontAwesome;
  content: "\f055"
}

.success {
  line-height: 5em;
  height: 5em;
  text-align: center;
  margin: auto;
  width: 100%;
}

.successbutton {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.successicon {
  font-size: 4em;
}

.erroricon {
  font-size: 4em;
}

.successicon:before {
  font-family: FontAwesome;
  font-size: 3em;
  content: "\f05d";
  color: #006DBF;
}

.erroricon:before {
  font-family: FontAwesome;
  font-size: 3em;
  content: "\f05c";
  color: #006DBF;
}
/*congrats*/
.trophyornottrophy {
  height: 7rem;
  width: 100%;
  color: Yellow;
  position: relative;
  margin: auto;
  display: none;
}

#progressbar #testerlequiz:before {
  font-family: FontAwesome;
  content: "\f0c3"
}

#progressbar #enregistrement:before {
  font-family: FontAwesome;
  content: "\f0d0"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar .startariane:after {
  width: 50%;
  left: 50%;
}

#progressbar .endariane:after {
  width: 50%;
  left: 0;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #006DBF
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #006DBF
}

.fit-image {
  width: 100%;
  object-fit: cover
}


/* switch slider on / off status utilisateur */

.creauti {
  width: 100%;
  display: block;
  height: 5em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: left;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #006DBF;
}

input:focus+.slider {
  box-shadow: 0 0 1px #006DBF;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Gestion des erreurs de validations multi steps */

.has-error .form-control {
  border-color: gray;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-select {
  border-color: black;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: black;
  font-style: normal;
}

.help-block {
  display: block;
  margin: auto;
  width: 100%;
  height: 1.6em;
  font-size: 0.8em;
  margin-top: -20px;
  text-align: center;
  line-height: 1.6em;
  font-family: 'Montserrat';
  border: 1px solid red;
}

.help-blockchk {
  display: block;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
  font-family: 'Material-Design-Iconic-Font';
  font-size: 1.5em;
  color: orange;
}


/* page de login */

.login {
  text-align: center;
  position: relative;
  margin-top: 2em
}

.login fieldset {
  font-family: Montserrat;
  font-weight: 100;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  padding: 1.5em;
  background: #00a6c4;
  background: -moz-linear-gradient(top, #00a6c4 0%, #006dbf 52%, #00a6c4 100%);
  background: -webkit-linear-gradient(top, #00a6c4 0%, #006dbf 52%, #00a6c4 100%);
  background: linear-gradient(to bottom, #00a6c4 0%, #006dbf 52%, #00a6c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6c4', endColorstr='#00a6c4', GradientType=0);
  position: relative
}

.login fieldset:not(:first-of-type) {
  display: none
}

.login input,
.login textarea {
  font-family: Montserrat-medium;
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 100;
  color: #2C3E50;
  background-color: #ffffff;
  font-size: 0.8em;
  letter-spacing: 1px
}

.login input[type="button"] {
  width: 100%;
}

.login input:focus,
.login textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ffffff;
  outline-width: 0;
  font-family: Montserrat-medium;
}

.login .action-button-login {
  background: #ffffff;
  font-weight: bold;
  color: #006DBF;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.action-button-login {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.login .action-button-login .left {
  float: left;
}

.login .fieldlabels {
  color: #ffffff;
  text-align: left
}

.login .action-button-login:hover,
.login .action-button-login:focus {
  background-color: #13578B;
  color: #fff
}


/*configuration du slider de la durée */

.timingfield {
  margin: auto;
  margin-bottom: 1.5em;
}

.timingfield_next .timingfield_prev {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.2rem;
  line-height: 0.8em;
  width: 100%;
}

.timingfield .timingfield_hours,
.timingfield .timingfield_minutes,
.timingfield .timingfield_seconds {
  display: inline-block;
  width: 32%;
}

.timingfield .timingfield_hours .timingfield_next,
.timingfield .timingfield_minutes .timingfield_next,
.timingfield .timingfield_seconds .timingfield_next {
  border-radius: 3px 3px 0 0;
  border-bottom: 0 none;
}

.timingfield .timingfield_hours .input-group,
.timingfield .timingfield_minutes .input-group,
.timingfield .timingfield_seconds .input-group {
  width: 100%;
}

.timingfield .timingfield_hours .input-group input,
.timingfield .timingfield_hours .input-group .input-group-addon,
.timingfield .timingfield_minutes .input-group input,
.timingfield .timingfield_minutes .input-group .input-group-addon,
.timingfield .timingfield_seconds .input-group input,
.timingfield .timingfield_seconds .input-group .input-group-addon {
  border-radius: 0;
  text-align: center;
}

.timingfield .timingfield_hours .input-group .input-group-addon,
.timingfield .timingfield_minutes .input-group .input-group-addon,
.timingfield .timingfield_seconds .input-group .input-group-addon {
  width: 50%;
  vertical-align: middle;
  line-height: 2.5em;
}

.timingfield .timingfield_hours .timingfield_prev,
.timingfield .timingfield_minutes .timingfield_prev,
.timingfield .timingfield_seconds .timingfield_prev {
  border-radius: 0 0 3px 3px;
  border-top: 0 none;
}


/*
 * bootstrap-tagsinput v0.8.0
 */

.badge-info {
  color: #fff;
  background-color: #006DBF;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  width: 100%;
  color: #555;
  vertical-align: middle;
  border-radius: 2rem;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

.bootstrap-tagsinput .badge {
  margin: 2px 0;
  padding: 5px 8px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "X";
  padding: 0px 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 13px
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


/* Introducing image presentation upload form */

.formimagedepresentation .preview_imagedepresentation ol {
  padding-left: 0;
}

.iu {
  height: 0px;
  padding: 0;
  margin: 0;
  position: relative;
}

.formimagedepresentation .preview_imagedepresentation li,
div>p {
  background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 50%, #ffffff 50%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 50%, #ffffff 50%, #eeeeee 100%);
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 50%, #ffffff 50%, #eeeeee 100%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  list-style-type: none;
  border: 1px solid #006DBF;
  border-radius: 1em;
  padding: 1em;
  filter: progid:DXImageTrans.formimagedepresentation.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
}

.formimagedepresentation .preview_imagedepresentation img {
  height: 64px;
  order: 1;
}

.formimagedepresentation .preview_imagedepresentation p {
  line-height: 32px;
  padding-left: 10px;
}

.formimagedepresentation .label_imagedepresentation {
  width: 100%;
}

.formimagedepresentation .label_imagedepresentation,
.formimagedepresentation button {
  background: #006DBF;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


/* end of image introducing form upload design */


/* formulaire de creation de question reponses */

#widget {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 2rem;
}

.ta #widget #overlay {
  /*position: absolute;*/
  position: relative;
  top: 0;
  left: 0;
  padding-right: 0.5em;
  background-color: #CCCCCC;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.create-quiz .form-control {
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.create-quiz .form-control .ta #widget textarea {
  display: block;
  width: 100%;
  color: #2C3E50;
  background-clip: padding-box;
  font-family: Montserrat-medium;
  border-radius: 0;
  height: 100%;
  border: none;
  resize: vertical;
  margin-top: 2px;
  box-sizing: border-box;
  font-weight: 100;
  color: #2C3E50;
  background-color: #ECEFF1;
  font-size: 0.8em;
  letter-spacing: 1px;
}


/* fin de formulaire de creation de question reponses */


/* floutage */

.flou {
  width: 100%;
  display: block;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  z-index: 0;
}

.flou:hover {
  filter: blur(0);
}


/* absolute centered div */

.centerednumber {
  font-size: 10em;
  filter: none;
  backdrop-filter: blur(0px);
  color: #006DBF;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(0px);
  filter: blur(0)!important;
  -webkit-filter: blur(0)!important;
  /* Safari 6.0 - 9.0 */
}

.centerednumber:hover {
  display: none;
}


/* css of modal dialog */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 40%;
  /* Could be more or less, depending on screen size */
  border-radius: 1em;
}

.modal-content div>p {
  background: none;
}


/* The Close Button */

.close {
  color: #aaa;
  font-size: 2em;
  font-weight: bold;
  float: right;
  text-align: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* css des questions QA et QCM */

.radio {
  display: grid;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  padding-top: 0.5em;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2.25rem;
  color: #006DBF;
}

.radio:focus-within .radio_lbl {
  transform: scale(1.05);
  opacity: 1;
}

.radio_lbl {
  font-family: Montserrat-ExtraLight;
  font-size: 1.75rem;
  text-align: left;
  padding-left: 0.5em;
  line-height: 1;
  color: black;
  transition: 180ms all ease-in-out;
  opacity: 0.8;
}

.radio__input {
  display: flex;
}

.radio__input input {
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__input input:focus+.radio__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.radio-gradient input:checked+.radio__control {
  background: radial-gradient(currentcolor 50%, rgba(255, 0, 0, 0) 51%);
}

.radio-before .radio__control {
  display: grid;
  place-items: center;
}

.radio-before input+.radio__control::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em currentColor;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

.radio-before input:checked+.radio__control::before {
  transform: scale(1);
  background:#006DBF;
}

.radio__control {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid currentColor;
  transform: translateY(-0.05em);
}

input[class^='timequestionnonauto'],
div[class*=' timequestionnonauto'] {
  text-align: center;
}

.checkbox {
  display: grid;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  padding-top: 0.5em;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  font-size: 2rem;
  color: #006DBF;
}

.checkbox--disabled {
  color: var(--disabled);
}

.checkbox__control {
  display: inline-grid;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  border: 0.1em solid currentColor;
}

.checkbox__control svg {
  transition: transform 0.1s ease-in 25ms;
  transform: scale(0);
  transform-origin: bottom left;
}

.checkbox__input {
  display: grid;
  grid-template-areas: "checkbox";
}

.checkbox__input>* {
  grid-area: checkbox;
}

.checkbox__input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox__input input:focus+.checkbox__control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
}

.checkbox__input input:checked+.checkbox__control svg {
  transform: scale(1);
}

.checkbox__input input:disabled+.checkbox__control {
  color: var(--disabled);
}


/*image display */

.containerimgquiz {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container_image {
  position: relative;
  display: block;
  justify-content: center;
  width: 100%;
  height: 20.95vw;
  border-radius: 2em;
  background-size: contain;
  z-index: 2;
}


/*stylisation de la question */

.questionquiz {
  display: block;
  width: 100%;
  text-align: justify;
  font-family: Montserrat-ExtraLight;
  font-size: 2em;
  padding: 1em;
  color: #000000;
}

.questionquiz .indicequestionquiz {
  bottom: 0;
  padding-top: 0.8em;
  position: relative;
  font-family: Montserrat-ExtraLightItalic;
  font-size: 0.5em;
  text-align: left;
}


/* mise en page des deux colonnes du quiz durée et numero de question*/

.colonnequiztop {
  color: grey;
  float: left;
  width: 50%;
  font-size: 1em;
  padding: 1em;
  height: 2em;
  /* Should be removed. Only for demonstration */
}

.coltopquiz {
  width: 95%;
  margin: auto;
}

.coltopquiz:after {
  content: "";
  display: table;
  clear: both;
}

.colonnequiztop .coltopquiztime {
  text-align: right;
  right: 0;
}

.colonnequiztop .coltopquizlike {
  text-align: right;
  right: 0;
  color: #006DBF;
}

.colonnequiztop .quiznumeroquestion {
  text-align: left;
}

.colonnequiztop .quizstar {
  text-align: left;
  color: yellow;
}

.descriptionquiz {
  text-align: justify;
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-family: Montserrat;
}

.categorietimingurl {
  display: block;
  text-align: left;
  color: #000000;
  font-size: 1rem;
  width: 100%;
  margin: auto;
  margin-top: 1.1rem;
}

.categorietimingurldiv {
  display: block;
  text-align: left;
  font-size: 1rem;
  height: 1.5rem;
  line-height: 1.5rem;
  width: 90%;
  margin: auto;
}


/* les 3 colonnes du bas de page  précédent, gagné/perdu, suivant */

.columnquizbasdepage {
  float: left;
  width: 33.33%;
  height: 4.5em;
  z-index:9999;
}

.conteneurcolonnesquizbasdepage:after {
  content: "";
  display: table;
  clear: both;
  margin-top: 3em;
  z-index:2;
}

.columnquizbasdepage .boutonprecedentquizbasdepage {
  width: 50%;
  height: 100%;
  font-size: 3.5em;
  text-align: center;
  line-height: 1.2;
  margin: auto;
  border-radius: 50%;
  vertical-align: middle;
  background: #b5bdc8;
  color: white;
  background: grey;
}

.columnquizbasdepage .textecentralquizbasdepage {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  line-height: 1.2;
  text-align: center;
  font-size: 3em;
}

.columnquizbasdepage .boutonsuivantquizbasdepage {
  width: 50%;
  height: 100%;
  font-size: 3.5em;
  line-height: 1.2em;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  color: white;
  vertical-align: middle;
  background: #006dbf;
}


/* résultat de quiz */

#result-of-question table {
  border: 1px;
}

#result-of-question th {
  text-align: center;
  background: #006DBF;
  color: #fff;
  padding: 0;
  font-size: 0.8em;
  border: none;
}

#result-of-question td {
  text-align: center;
  color: #222;
  background-color: #fff;
  font-size: 1em;
  border: 1px solid #006DBF;
}

#totalCorrect {
  color: #fff;
  background: #006DBF;
  padding: 1em 1em;
  font-stretch: expanded;
  border-radius: 0.1em;
  font-size: 1.2em;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

.colorblue {
  background: #006DBF;
}


/* fin des css des QA et QCM */


/* animation success */

.success-animation {
  margin: 150px auto;
}

.checkmark {
  height: 6em;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #006DBF;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #006DBF;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #006DBF;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #006DBF;
  }
}


/* Change les directions d'écritures LTRRTL*/

.changedirectionltr {
  direction: ltr;
}

.changedirectionrtl {
  direction: rtl;
}

button {
  background: #d5d5d5;
  border: 0;
  color: #000;
  border-radius: 5px 5px 0 0;
  --bs-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px var(--bs-color);
  cursor: pointer;
}

button[aria-selected="true"] {
  background: #c8102e;
  box-shadow: none;
  color: #fff;
}

.sharebutton:focus {
  outline: 0;
  --bs-color: rgba(0, 0, 0, 0.6);
}

.fb-share-button {
  background: #3b5998;
  border: 0;
  width: 31%;
  border-radius: 1.8rem;
  height: 5rem;
  padding-top: 0.5rem;
}

.fb-share-button:hover {
  cursor: pointer;
}

.fb-share-button svg {
  width: 4em;
  fill: #fff;
}

.fb-share-button span {
  color: #fff;
}

.tw-share-button {
  background: #0089bf;
  width: 31%;
  border-radius: 1.8rem;
  height: 5rem;
  padding-top: 0.5rem;
  line-height: 4rem;
}

.tw-share-button:hover {
  cursor: pointer;
}

.tw-share-button svg {
  width: 4rem;
  fill: #fff;
}

.tw-share-button span {
  color: #fff;
}

.lnkdn-share-button {
  background: #0077b5;
  width: 31%;
  border-radius: 1.8rem;
  height: 5rem;
  padding-top: 0.5rem;
}

.lnkdn-share-button:hover {
  cursor: pointer;
}

.lnkdn-share-button svg {
  width: 4rem;
  fill: #fff;
}

.lnkdn-share-button span {
  color: #fff;
}

.play-button {
  position: absolute;
  top: 28%;
  left: 36%;
  width: 7rem;
  height: 7rem;
  display: block;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.5s ease;
}

.play-button:after {
  position: absolute;
  top: 27%;
  left: 33%;
  display: block;
  content: "";
  box-sizing: border-box;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
  border-width: 26px 0 26px 40px;
}

.play-button:hover {
  background-color: rgba(0, 33, 66, 0.9);
}

.datequiz {
  font-size: 2vmin;
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 1.7rem;
  display: block;
}

.quizpreshr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
}

.notification .badge:hover {
  background-color: #006DBF;
}

.notification .badge {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  padding: .0rem .1rem .1rem;
  padding-top: 0.3rem;
  line-height: 1rem;
  border-radius: 50%;
  background-color: #02a6C4;
  color: white;
  width: 1.5rem;
}


/****** Style Star Rating *****/

.ratingcontainer {
  margin: 0 auto;
  width: 100%;
  z-index:2;
}

.rate {
  margin: auto;
  height: 3rem;
  padding: 0 1em;
  display: inline-block;
  z-index:2;
}
#starz5, #starz4, #starz3,#starz2,#starz1,#boutonreloadquizbasdepage {z-index:2;}
.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 3em;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #FFFB00;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #FFFB00;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #FFFB00;
}

.starrating {
  color: #FFCF78;
}

.starratingy {
  color: orange;
}


/* mise en page du pied de page */

.pdp-static {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background: #006DBF;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.pdp-fixed {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  background: #006DBF;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: block;
}

.pdp {
  bottom: 0;
  width: 2.8em;
  height: 3em;
  border-radius: 1em 1em 0 0;
  font-weight: 600;
}

.groupfooter {
  left: 2.8em;
  top: 0.5em;
  width: 2em;
  height: 2em;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  display: block;
  background: #FFFFFF;
  border-radius: 50%;
  line-height: 2em;
}

.signoutfooter {
  left: 0.4em;
  float: left;
  top: 0.5em;
  width: 2em;
  height: 2em;
  float: left;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  background: #FFFFFF;
  border-radius: 50%;
  line-height: 2em;
}

.clouddownload {
  left: 5.2em;
  top: 0.5em;
  width: 2em;
  height: 2em;
  float: left;
  text-align: center;
  position: absolute;
  vertical-align: middle;
  display: block;
  background: #FFFFFF;
  border-radius: 50%;
  line-height: 2em;
}

.clouddownload a {}

.clouddownload a span:hover,
.signoutfooter a span:hover,
.groupfooter a span:hover {
  background: #00d8ff;
  color: white;
}

.signoutfooter:hover,
.groupfooter:hover {
  background: #00d8ff;
  color: white;
}

.clouddownload:hover {
  background: yellow;
}

.clouddownload span::before {
  content: "🎓";
  color: #006DBF;
}

@media all and (max-width: 768px) {
  /*:not(input):not(textarea) {
  -webkit-user-select: none; 
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link
}       
a {-webkit-user-select: none; 
   -webkit-touch-callout: none; 
 }*/
  * {
    margin: 0;
    padding: 0 box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -msbox-sizing: border-box;
  }
  html,
  body {
    position: relative;
    margin: auto;
    max-height: 100%;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  html{
    -webkit-touch-callout: none;
  }
  .pdqr {
    position: relative;
    width: 100%;
    top: 0.5rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    /*  padding: 0;
    position: relative;
    display: block;
    margin: 0 auto*/
  }
  .pdqrquiz {
    position: relative;
    width: 100%;
    top: 4rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    /*  padding: 0;
    position: relative;
    display: block;
    margin: 0 auto*/
  }
  .pd {
    position: relative;
    width: 100%;
    top: 4rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    /*  padding: 0;
    position: relative;
    display: block;
    margin: 0 auto*/
  }
  .pdquiz {
    display: block;
    padding: 1em;
    margin: 30px auto;
    background: white;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    transition: transform 0.2s ease-in-out;
  }
  .container_image {
    position: relative;
    display: block;
    justify-content: center;
    width: 100%;
    height: 45vw;
    border-radius: 2em;
    background-size: contain;
    z-index: 2;
  }
  .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    width: 100%;
    color: #555;
    vertical-align: middle;
    border-radius: 2rem;
    line-height: 22px;
    cursor: text;
  }
  #progressbar {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding-right: 2.2rem;
  }
  .container-fluid {
    padding-top: 0;
    padding-bottom: 3rem;
    padding-left: 0.6rem;
  }
  .row {
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-wrap: wrap;
    margin: 0;
    width: 100vw;
  }
  .col-11 {
    /*width: 100%;*/
  }
  .rowtitlestep {
    display: flex;
    margin: auto;
    width: 100%;
  }
  col-7 {
    max-width: 50%;
    display: block;
  }
  col-5 {
    max-width: 5O%;
    display: block;
  }
  .mt-3,
  .my-3 {
    margin-top: 0rem!important;
    margin-left: 0;
  }
}

.col-11 .col-sm-10 .col-md-10 .col-lg-6 .col-xl-5 .text-center .p-0 .mt-3 .mb-2 {
  padding: 0;
  margin: 0;
}


}
