<!DOCTYPE html>
<html lang="fr">
  <head>  
    <meta charset="UTF-8">
    <title><%= title %></title>
	<meta name="viewport" content="width=540, initial-scale=0.7, maximum-scale=0.7, minimum-scale=0.7, user-scalable=no">
    <link rel="stylesheet" href="css/bootstrap.min.css" id="bootstrap-css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/nav.css">
  </head>
  <body class="bodylogin">
    <div class="container-fluid pad4rem">
      <div class="row justify-content-center">
        <div class="pd col-11 col-sm-10 col-md-10 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
          <div class="card-results">
            <h2 id="heading" class="lang-mesquiz">Mes Quiz</h2>
            <hr>
              <!--<div class="viewresultsstyle"><span class="spanelementtrouves" style="">0 elements trouvés</span>
                </div>-->
              <div class="containerresultsinline">
              </div>
              <div class="show-more"><a style="text-decoration:none;"> <span class="fa angle_down"></span></a>  </div>
              <!-- Footer -->
              <div class="footer">
                <p>
                  Created with <i class="fa fa-heart"></i> by Lombard Web Services
                </p>
              </div>
              <input type="hidden" name="fingerprint" value="" />
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/home.js"></script>
    <script src="js/auth.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lang.js"></script>
    <script src="js/ripemd160.js"></script>
    <script src="js/fp.min.js"></script>
    <script src="js/myquiz.js"></script>
    <script src="js/notif.js"></script>
  </body>
</html>
